/* line 5, /Users/balthazar/ga/wdi/mood_boarder_app/app/assets/stylesheets/welcome.scss */
.jumbotron {
  background-image: url("/images/chalkboard.jpg");
}

/* line 9, /Users/balthazar/ga/wdi/mood_boarder_app/app/assets/stylesheets/welcome.scss */
.jumbotron > .page-header {
  color: white;
}

/* line 13, /Users/balthazar/ga/wdi/mood_boarder_app/app/assets/stylesheets/welcome.scss */
.navbar {
  background-image: url("/images/chalkboard.jpg");
}

/* line 16, /Users/balthazar/ga/wdi/mood_boarder_app/app/assets/stylesheets/welcome.scss */
.navbar-inner, .navbar .btn-navbar {
  border: 0px;
}
