<h1> Mood Boarder</h1>
<p>A site for making beautiful mood boards!<br>
Upload images to create your own or browse other users' boards to get inspired!</p>
<div class="row">
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Branding</h3>
        <p>Collect on-brand imagery for inspiration and brand development!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Web Design</h3>
        <p>Gather ideas and get inspired by designes you like!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Fashion</h3>
        <p>Build a cohesive wardrobe that conveys your personal image!</p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-3">
    <div class="thumbnail">
      <img src="..." alt="...">
      <div class="caption">
        <h3>Interior Design</h3>
        <p>Develop a unique look for your home!</p>
      </div>
    </div>
  </div>
</div>


