<div><%= @board.board_title %></div>
<div>Here is the board</div>
<p>
  <% if current_user.id == @user.to_i %>
    <button type=""><%= link_to 'Edit', edit_board_path %></button>
    <button type=""><%= link_to 'Delete', delete_path %></button>
  <% else %>
    <button type=""><%= link_to 'Favorite', favorite_boards_path %></button>
  <% end %>
</p>


