// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  background: url('cork.jpg');
  background-size: 1440px 800px;
  background-repeat:no-repeat;
  display: compact;
}
