// Place all the styles related to the Board controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.gallery {
  display: flex;
  flex-wrap: wrap;
}
.aboutsection {
  justify-content: center;
}
.thingholder {
  border-radius: 4px;
  margin: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
