// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* USER PROFILE PAGE */

.container {
  border-radius: 4px;
  margin: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.boardcontainer {
  background-image: url('/images/chalkboard.jpg');
  height: 200px;
  color: white;
  border-radius: 10px;
}

.face {
  width: 22%;
}
.face img{
  float: left;
  max-width: 100%;
  width: auto;
  height: auto;
}
.text {
  padding: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.headline {
  margin: 0;
}
