// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
  margin: 0;
  background: url('cork.jpg');
  background-size: 1440px 800px;
  background-repeat: repeat;
  display: compact;
}
.jumbotron {
  background: url('chalkboard.jpg');
}

.logo {
  color: white;
}

.navbar {
  background-image: url('chalkboard.jpg');
}
.navbar-inner, .navbar .btn-navbar {
  border: 0px;
}
