// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background-image: url('/images/chalkboard.jpg');
}

.jumbotron > .page-header {
  color: white;
}

.navbar {
  background-image: url('/images/chalkboard.jpg');
}
.navbar-inner, .navbar .btn-navbar {
  border: 0px;
}
